:root {
    --dm-hover-svg: invert(35%) saturate(630%) hue-rotate(356deg) brightness(110%) contrast(160%);
}

/* Styles main content */
.cartContent {
    max-width: 100%;
    padding: var(--margin);
    margin-top: 90px;

    display: flex;
    flex-direction: column;
    gap: var(--medium);
}

/* Styles links to categories */
.linksWrapper {
    padding: 0 var(--medium);
}

.link {
    color: var(--brown);
    font-size: var(--medium-font);
}

.heading {
    font-size: calc(var(--normal-font) * 2);
    padding: var(--medium);
}

.cart {
    height: fit-content;
    width: 100%;
    margin-top: -15px;
}

/* Styles each carted item */
.cartedItem {
    background: var(--light-beige);
    margin: var(--large) var(--small);
    padding: calc(var(--medium) + var(--small));
    border-radius: var(--rounded-square);

    display: grid;
    grid-template-columns: 1fr 3fr 0.5fr;
    gap: var(--medium);
}

/* Styles images */
.thumbnailWrapper,
.thumbnail {
    width: 110px;
    height: 110px;
    border-radius: var(--rounded-square);
}

.thumbnailWrapper {
    grid-column: 1;
    grid-row: 1 / span 3;
}

.thumbnail {
    object-fit: cover;
    object-position: top;
}

/* Styles product name */
.productName {
    grid-column: 2 / span 2;
    grid-row: 1;

    color: var(--font-color);
    word-wrap: break-word;
}

.productName:hover,
.productName:focus {
    color: var(--font-color);
}

/* Styles product prices */
.price {
    grid-column: 2;
    grid-row: 2;

    display: flex;
    gap: var(--medium);
}

.discountedTotal {
    color: var(--red);
}

.productTotal {
    color: var(--light-brown);
    text-decoration: line-through;
}

/* Styles product quantities */
.qty {
    grid-column: 2;
    grid-row: 3;

    gap: var(--small);
}

input {
    width: 50px;
    text-align: center;
}

/* Styles button to remove item from cart */
.removeItem {
    grid-column: 3;
    grid-row: 3;

    width: max-content;
    background: none;
    padding: 0;
    font-size: var(--medium-font);
}

.removeItemSvg {
    height: 20px;
    width: 20px;
}

.removeItemSvg:hover,
.removeItemSvg:focus {
    filter: var(--brown-svg);
}

/* Styles elements displayed when cart is empty */
.emptyCartMsg,
.continueShopping {
    text-align: center;
}

.emptyCartMsg {
    padding: calc(var(--margin) * 2);
}

.continueShopping {
    background: var(--beige);
    padding: calc(var(--medium) + 2px);
    border-radius: var(--round);

    color: var(--font-color);
    text-transform: uppercase;
}

.continueShopping:hover,
.continueShopping:focus {
    background: var(--font-color);
    color: var(--beige);
}

/* Styles the Total Overview */
.totalOverview {
    margin: 0 var(--medium);
}

.totalsGrid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: var(--medium);
}

.totalsGrid > * {
    padding: 2px 0;
}

.overviewPrice {
    justify-self: end;
}

.checkout {
    margin: var(--small) 0;
    background: var(--beige);
    text-transform: uppercase;
}

.checkout:hover,
.checkout:focus {
    background: var(--font-color);
    color: var(--beige);
}

.bold {
    font-weight: 600;
}

.flexCenter {
    display: flex;
    align-items: center;
}

/* Styles for smaller devices */
@media (min-width: 420px) {    
    .linksWrapper {
        padding: 0 calc(var(--medium) + var(--small));
    }
    
    .productWrapper {
        gap: calc(var(--medium) * 2);
    }

    .removeItemSvg {
        height: 23px;
        width: 23px;
    }
}

@media (min-width: 500px) {
    .link {
        font-size: var(--normal-font);
    }
    
    .cartedItem {
        gap: calc(var(--medium) + var(--small));
    }

    .thumbnailWrapper,
    .thumbnail {
        width: 125px;
        height: 125px;
    }

    .removeItemSvg {
        height: 25px;
        width: 25px;
    }
}

/* Styles for tablets */
@media (min-width: 768px) {
    .cartContent {
        padding: calc(var(--margin) * 2);
        margin-top: 50px;
    }

    .thumbnailWrapper,
    .thumbnail {
        width: 175px;
        height: 175px;
    }

    .productName {
        font-size: var(--marge-font);
    }

    .removeItemSvg {
        height: 27px;
        width: 27px;
    }
}

/* Styles for larger viewports */
@media (min-width: 1024px) {
    .cartContent {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: var(--medium);
    }

    .linksWrapper,
    .heading {
        grid-column: 1 / span 2;
    }

    .linksWrapper {
        grid-row: 1;
    }

    .heading {
        grid-row: 2;
    }

    /* Styles for empty cart */
    .emptyCart,
    .continueShopping {
        grid-column: 1 / span 2;
    }

    .emptyCart {
        grid-row: 3;
    }

    .emptyCartMsg {
        padding: calc(var(--margin) * 4);
        font-size: var(--marge-font);
    }

    .continueShopping {
        grid-row: 4;

        width: 50%;
        margin: 0 auto;
    }

    /* Styles for populated cart */
    .cart {
        grid-row: 3 / span 3;
        grid-column: 1;
    }

    .totalOverview {
        grid-row: 3;
        grid-column: 2;
    }

    .checkout {
        grid-row: 4;
        grid-column: 2;
    }
}

/* Styles for large viewports */
@media (min-width: 1440px) {
    .cartContent {
        grid-template-columns: 1.5fr 0.1fr 1fr;
        padding: calc(var(--margin) * 2) calc(var(--margin) * 4);
    }

    /* Styles for empty cart */
    .emptyCart,
    .continueShopping {
        grid-column: 1 / span 3;
    }

    .emptyCartMsg {
        font-size: var(--large-font);
    }

    .continueShopping {
        width: 35%;
        font-size: var(--marge-font);
    }

    /* Styles for populated cart */
    .cartedItem {
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
    }

    .thumbnailWrapper,
    .thumbnail {
        width: 100%;
        grid-row: 1 / span 4;
    }

    .productName {
        font-size: var(--large-font);
    }

    .price,
    .qty {
        font-size: var(--marge-font);
    }

    .price {
        grid-row: 2;
        grid-column: 2;
    }

    .qty {
        grid-row: 2;
        grid-column: 3;
    }

    input {
        height: 30px;
        font-size: var(--normal-font);
    }

    .removeItem {
        grid-row: 4;
        grid-column: 2;
    }

    .removeItemSvg {
        height: 30px;
        width: 30px;
    }

    .totalOverview,
    .checkout {
        grid-column: 3;
    }
}

/* Styles for dark mode */
@media (prefers-color-scheme: dark) {
    * {
        color: var(--cream);
    }

    .link,
    .productName,
    .productTotal,
    .qty > label,
    .checkout:hover,
    .checkout:focus,
    .checkout {
        color: var(--light-beige);
    }

    .link:hover,
    .link:focus {
        color: var(--beige);
        text-decoration: underline;
    }

    /* Styles for empty cart */
    .continueShopping {
        color: var(--cream);
        background: var(--light-brown);
    }

    /* Styles for populated cart */
    .cartedItem {
        background: var(--dm-gray-brown);
    }

    .productName:hover,
    .productName:focus {
        color: var(--light-beige);
        font-style: italic;
    }

    .discountedTotal {
        color: var(--dm-pink);
    }

    .productTotal {
        font-style: italic;
    }

    .removeItemSvg:hover,
    .removeItemSvg:focus {
        filter: var(--dm-hover-svg);
    }

    .checkout {
        background: var(--dm-gray-brown);
    }
    
    .continueShopping:hover,
    .continueShopping:focus,
    .checkout:hover,
    .checkout:focus { 
        color: var(--font-color);
        background: var(--beige);
    }
}