:root {
    --filter-svg: invert(45%) sepia(7%) saturate(1049%) hue-rotate(349deg) brightness(88%) contrast(78%);
}

/* Styles carousel content */
.carousel {
    display: grid;
    grid-template-columns: 0.5fr 3fr 0.5fr;
    align-items: center;
    gap: var(--medium) 0;

    background: rgba(255, 255, 255, 0.3);
    border-radius: 2px;
    padding: var(--medium) var(--small);
}

/* Styles arrow buttons and svg */
.leftArrow,
.rightArrow {
    background: none;
    padding: 0;
}

.arrow {
    height: 35px;
    width: 35px;
}

/* Styles image */
.imgWrapper,
.productImage {
    height: clamp(300px, 40vh, 400px);
    width: 100%;
}

.imgWrapper {
    padding: var(--small) 0;
}

.productImage {
    object-fit: cover;
    object-position: center;
    border-radius: 2px;
}

/* Styles circles indicating current displayed image */
.circlesWrapper {
    grid-row: 2;
    grid-column: 1 / span 3;
    padding: var(--small) 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.circle {
    height: 10px;
    width: 10px;
}

.filter {
    filter: var(--filter-svg);
}

@media (min-width: 420px) {
    .carousel {
        padding: var(--medium);
    }
}