:root {
    --light-beige: rgb(235, 230, 225);
    --cream: rgb(245, 239, 233);
    --light-brown: rgb(94, 86, 78);
    --red: rgb(187, 55, 55);
    --small: 5px;
    --medium: 10px;
    --large: 20px;
    --small-font: 0.85rem;
    --medium-font: 0.9rem;
}

* {
    margin: 0;
    box-sizing: border-box;
    color: var(--font-color);
}

/* Styles each product card */
.productCard {
    width: 100%;
    padding: calc(var(--medium) + 5px);
    background: var(--light-beige);
    border-radius: 2px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--small);
}

.productCard:hover,
.productCard:focus {
    background: var(--cream);
    border-radius: 5px;
    scale: 1.02;
}

/* Styles thumbnails */
.thumbnailWrapper,
.thumbnail {
    grid-row: 1;
    grid-column: 1 / span 2;

    height: 250px;
    width: 100%;
}

.thumbnail {
    object-fit: cover;
    object-position: top;
    border-radius: 2px;
}

/* Styles product name */
.nameWrapper {
    grid-row: 2;
    grid-column: 1 / span 2;

    display: flex;
}

.productName {
    font-size: 1.2rem;
    margin-top: var(--small);
}

/* Styles prices */
.price {
    grid-row: 3;
    grid-column: 1;

    display: flex;
    gap: var(--medium);
}

.discountPrice {
    color: var(--red);
}

.originalPrice {
    color: var(--light-brown);
    text-decoration: line-through;
}

/* Styles quick view button */
.quickviewBtn {
    grid-row: 4;
    grid-column: 1;

    background: none;
    padding: 0;
    text-align: start;
    text-decoration: underline;
}

.bold {
    font-weight: 600;
}

/* Styles for smaller devices */
@media (min-width: 420px) {
    .productCard {
        padding: var(--large);
    }
}

@media (min-width: 500px) {
    .thumbnailWrapper,
    .thumbnail {
        height: 300px;
    }
}