/* Styles for background overlay */
.overlay {
    background: rgba(138, 130, 121, 0.7);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

/* Styles for quick view popup */
.quickviewPopup {
    background: var(--bg-color);
    height: 60vh;
    width: 85vw;
    padding: var(--large);
    border-radius: 2px;
    box-shadow: 2px 2px 2px var(--brown);
    overflow-y: scroll;

    position: fixed;
    z-index: 10;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: var(--medium);
}

/* Styles for 'Close Popup' button */
.closePopup,
.closeBtn {
    height: 30px;
    width: 30px;
}

.closePopup {
    grid-row: 1;
    grid-column: 2;

    justify-self: end;
}

/* Styles for product name */
.popupName {
    grid-row: 1;
    grid-column: 1;

    font-size: 1.2rem;
    margin-top: var(--small);
}

/* Styles for prices */
.popupPrice {
    grid-row: 2;
    grid-column: 1;

    display: flex;
    gap: var(--medium);
}

.discountPrice {
    color: var(--red);
}

.originalPrice {
    color: var(--light-brown);
    text-decoration: line-through;
}

/* Styles for product description */
.popupDescription {
    grid-row: 3;
    grid-column: 1 / span 2;
}

/* Styles for image carousel */
.popupCarousel {
    grid-row: 4;
    grid-column: 1 / span 2;

    background: var(--light-beige);
    display: grid;
    justify-items: center;
    padding: var(--medium) 0;
    row-gap: var(--medium);
}

.popupImgWrapper,
.popupImage {
    height: clamp(150px, 25vh, 250px);
}

.popupBrand {
    grid-row: 5;
    grid-column: 1;
}

/* Styles product rating stars */
.ratingWrapper {
    grid-row: 5;
    grid-column: 2;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--small);
}

.productRating {
    font-size: var(--small-font);
}

/* Styles for quantity buttons */
.popupQtyWrapper {
    grid-row: 6;
    grid-column: 1 / span 2;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.qtyBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--medium);
}

.popupQtyInput {
    height: 30px;
}

.popupIncreaseBtn,
.popupDecreaseBtn {
    height: 30px;
    width: 30px;
    padding: var(--medium);
    border-radius: var(--round);

    display: flex;
    justify-content: center;
    align-items: center;
}

.popupDecreaseBtn,
.popupIncreaseBtn,
.popupAddToCartBtn {
    background: var(--beige);
}

/* Styles for 'Add to Cart' button */
.popupAddToCartBtn {
    grid-row: 7;
    grid-column: 1 / span 2;
    margin: var(--medium) 0;
}

.popupAddToCartBtn:hover,
.popupAddToCartBtn:focus {
    background: var(--font-color);
    color: var(--beige);
}

/* Styles for 'View full product details' button */
.goToProduct {
    grid-row: 8;
    grid-column: 1 / span 2;

    justify-self: center;
    color: var(--font-color);
    text-decoration: underline;

    display: flex;
    align-items: center;
}

.rightArrow {
    height: 30px;
}

.bold {
    font-weight: 600;
}

/* Styles for smaller devices */
@media (min-width: 420px) {
    .quickviewPopup {
        padding: calc(var(--large) + var(--medium));
    }
}

@media (min-width: 500px) {
    .popupImgWrapper,
    .popupImage {
        height: clamp(250px, 40vh, 400px);
    }
}

/* Styles for tablets */
@media (min-width: 768px) {
    .quickviewPopup {
        height: 70vh;
        width: 70vw;
    }

    .popupImgWrapper,
    .popupImage {
        height: clamp(250px, 50vh, 400px);
    }

    .qtyLabel {
        font-size: 1rem;
    }
}

/* Styles for laptops */
@media (min-width: 1024px) {
    .quickviewPopup {
        width: 60vw;
        padding: calc(var(--large) * 2);
    }
}

/* Styles for large viewports */
@media (min-width: 1440px) {
    .quickviewPopup {
        height: 75vh;
        padding: calc(var(--large) * 3);
        top: 15%;
    }

    .popupName {
        font-size: calc(var(--normal-font) + 0.4rem);
    }

    .discountPrice,
    .originalPrice,
    .popupDecreaseBtn,
    .popupIncreaseBtn  {
        font-size: var(--large-font);
    }

    .popupDescription,
    .popupBrand,
    .qtyLabel,
    .popupAddToCartBtn {
        font-size: var(--marge-font);
    }

    .closeBtn {
        height: 40px;
        width: 40px;
    }

    .popupCarousel {
        padding: var(--large) 0;
    }

    .popupImgWrapper,
    .popupImage {
        height: clamp(400px, 60vh, 600px);
    }
}

/* Styles for dark mode */
@media (prefers-color-scheme: dark) {
    .overlay {
        background: rgba(100, 95, 90, 0.7);
    }

    .quickviewPopup {
        background: var(--font-color);
        box-shadow: 2px 2px 2px var(--light-brown);
    }

    .discountPrice {
        color: var(--dm-pink);
    }
 
    .originalPrice,
    .goToProduct {
        color: var(--light-beige);
    }

    .popupCarousel {
        background: none;
    }

    .popupQtyInput {
        border: 1px solid var(--beige);
        border-radius: var(--rounded-square);
    }

    .popupIncreaseBtn,
    .popupDecreaseBtn,
    .popupAddToCartBtn {
        background: var(--beige);
        color: var(--font-color);
    }

    .popupIncreaseBtn:hover,
    .popupIncreaseBtn:focus,
    .popupDecreaseBtn:hover,
    .popupDecreaseBtn:focus,
    .popupAddToCartBtn:hover,
    .popupAddToCartBtn:focus {
        background: var(--dm-gray-brown);
        color: var(--light-beige);
    }

    .goToProduct,
    .goToProduct:hover,
    .goToProduct:focus {
        color: var(--cream);
    }

    .goToProduct:hover,
    .goToProduct:focus {
        font-style: italic;
    }

    .closeBtn:hover,
    .closeBtn:focus {
        filter: var(--dm-hover-svg);
        cursor: pointer;
    }
}