* {
    margin: 0;
    box-sizing: border-box;
    color: var(--font-color);
}

/* Styles main content */
.homeContent {
    height: calc(100vh - 80px);
    max-width: 100%;
    background: url("https://images.unsplash.com/photo-1613545325278-f24b0cae1224?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat 50% fixed;
    background-size: cover;
    padding: var(--margin);
    margin-top: 80px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.introWrapper {
    display: flex;
    flex-direction: column;
    gap: var(--medium);
}

/* Styles 'Shop Now' button */
.shopNowBtn {
    width: fit-content;
    background: var(--font-color);
    padding: var(--padding-small);
    border-radius: 10px;
    color: var(--light-beige);
    font-weight: 600;
}

.shopNowBtn:hover,
.shopNowBtn:focus {
    background: var(--beige);
    color: var(--font-color);
}

.bold {
    font-weight: 600;
}

/* Styles for smaller devices */
@media (min-width: 500px) {
    .homeContent {
        height: calc(100vh - 65px);
        margin-top: 65px;
        padding: 0 calc(var(--large) * 2);
    }
    
    .intro {
        font-size: 1.2rem;
    }
}

/* Styles for tablets */
@media (min-width: 768px) {
    .introWrapper {
        align-items: center;
    }
}

/* Styles for laptops */
@media (min-width: 1024px) {
    .homeContent {
        padding: 0 100px;
    }

    .introWrapper {
        gap: var(--large);
    }

    .intro {
        font-size: 1.5rem;
    }

    .shopNowBtn {
        padding: var(--padding-small) var(--padding-medium);
        font-size: 1.1rem;
    }
}