* {
    margin: 0;
    box-sizing: border-box;
}

/* Styles main content */
.homeContent {
    max-width: 100%;
    padding: var(--margin);
    margin-top: 100px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Styles banner */
.bannerWrapper,
.banner {
    height: 225px;
    width: 110%;
    margin-left: -5%;
}

.banner {
    object-fit: cover;
    object-position: 50% 60%;
}

.adText {
    padding: var(--medium);
    text-align: center;
    font-style: italic;
    font-size: 1.2rem;
}

/* Styles category boxes */
.categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    justify-items: center;
    margin-top: 85px;
    gap: 1rem;
}

.categoryWrapper {
    width: 100%;
    height: 170px;
    padding: 0;
    position: relative;
}

.categoryWrapper:hover {
    opacity: 0.8;
}

.categoryWrapper > img,
.categoryName {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.categoryName {
    color: rgb(39, 39, 39);
    line-height: 150px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    z-index: 10;
}

.bold {
    font-weight: 600;
}