.dropdownBtn {
    text-transform: uppercase;
    background: none;
    border-radius: 0;
}

.dropDownBtn:focus,
.dropdownBtn:hover {
    text-decoration: underline;
    border: 1px solid transparent;
}

.hidden {
    display: none;
}

.dropdown {
    width: 150px;
    background: var(--light-beige);
    border-radius: var(--rounded-square);
    margin-left: var(--medium);
    
    position: absolute;
    display: flex;
    flex-direction: column;
}

.dropdownUnderline {
    text-decoration: underline;
}

.link {
    color: var(--font-color);
    text-transform: uppercase;
    padding: 8px 20px;
}

.link:hover,
.link:focus {
    background: var(--beige);
    color: var(--font-color);
    text-decoration: underline;
    font-weight: 600;
}

@media (min-width: 420px) {
    .dropdown {
        margin-left: var(--large);
    }
}

@media (min-width: 500px) {
    .dropdown {
        margin-left: calc(var(--large) + var(--small));
    }
}