.dropdownBtn {
    text-transform: uppercase;
    background: none;
    border-radius: 0;
}

.hidden {
    display: none;
}

.dropdown {
    display: flex;
    flex-direction: column;
    background: rgb(243, 243, 243);
    position: absolute;
}

.link {
    color: rgb(50, 50, 50);
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px;
    border: 1px solid rgb(50, 50, 50);
}