:root {
    --brown-svg: invert(25%) sepia(32%) saturate(420%) hue-rotate(344deg) brightness(100%) contrast(90%);
    --badge-color: rgb(240, 78, 78);
}

* {
    margin: 0;
    box-sizing: border-box;
    color: var(--font-color);
}

nav,
.navLinks {
    display: grid;
    align-items: center;
}

nav {
    background: var(--bg-color);
    height: min-content;
    width: 100%;
    max-width: 100vw;
    padding: var(--medium) var(--large);
    box-shadow: 2px 2px 2px var(--beige);

    grid-template-columns: 1fr 3fr 0.5fr;
    position: fixed;
    top: 0;
    z-index: 15;
}

/* .brandName, */
.shopAllLink,
.badgeNumber {
    text-align: center;
}

.brandName {
    font-size: calc(var(--normal-font) + 0.5rem);
    padding: var(--small);
}

.brandName:hover,
.brandName:focus {
    color: var(--brown);
}

/* Styles the "Shop All" navlink */
.navLinks {
    grid-template-columns: 1fr 2fr;
    gap: var(--medium);

    padding: 0 var(--medium);
    margin-left: var(--medium);
    list-style-type: none;
}

.shopAll {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.shopAllLink {
    color: var(--font-color);
    text-transform: uppercase;
}

.shopAllLink:hover,
.shopAllLink:focus {    
    text-decoration: underline;
    color: var(--font-color);
}

/* Styles the cart icon */
.cartWrapper {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cartIcon:hover,
.cartIcon:focus {
    filter: var(--brown-svg);
}

.badgeNumber {
    min-width: 20px;
    min-height: 20px;
    background: var(--badge-color);
    border-radius: 30%;
    
    color: white;
    font-size: var(--medium-font);
    line-height: 20px;

    position: absolute;
    top: -30%;
    left: 50%;
}

.bold {
    font-weight: 600;
}

/* Styles for smaller devices */
@media (min-width: 420px) {
    .brandName {
        margin-left: var(--medium);
    }

    .shopAllLink {
        max-width: 60px;
    }
}

@media (min-width: 500px) {
    nav {
        grid-template-columns: 1fr 2.5fr 0.5fr;
        padding: var(--medium);
    }

    .brandName {
        font-size: calc(var(--normal-font) + 0.6rem);
    }

    .shopAll {
        display: block;
        text-align: center;
    }

    .shopAllLink {
        max-width: none;
    }
}

/* Styles for tablets */
@media (min-width: 700px) {
    nav {
        grid-template-columns: 1fr 2fr 0.5fr;
    }
}

/* Styles for large viewports */
@media (min-width: 1024px) {
    nav {
        padding: var(--medium) var(--large);
    }
}

@media (min-width: 1024px) {
    nav {
        padding: var(--medium) calc(var(--large) * 2);
    }
}