:root {
    --font-color: rgb(50, 50, 50);
    --bg-color: rgb(224, 216, 210);
    --brown: rgb(90, 71, 56);
    --brown-svg: invert(25%) sepia(32%) saturate(420%) hue-rotate(344deg) brightness(100%) contrast(90%);
    --badge-color: rgb(240, 78, 78);
}

* {
    margin: 0;
    box-sizing: border-box;
    color: var(--font-color);
}

nav,
.navLinks,
.shopAll {
    display: flex;
    align-items: center;
}

nav {
    background: var(--bg-color);
    height: min-content;
    max-width: 100vw;
    padding: 10px 20px;

    position: fixed;
    top: 0;
    z-index: 15;
}

/* .brandName, */
.shopAllLink,
.badgeNumber {
    text-align: center;
}


.brandName {
    font-size: 1.5rem;
}

.brandName:hover,
.brandName:focus {
    color: var(--brown);
}

/* Styles the "Shop All" navlink */
.navLinks {
    padding: 0;
    margin-left: 10px;
    list-style-type: none;
}

.shopAll {
    height: 86px;
    justify-content: center;
}

.shopAllLink {
    color: var(--font-color);
    text-transform: uppercase;
}

.shopAllLink:hover,
.shopAllLink:focus {    
    text-decoration: underline;
    color: var(--font-color);
}

/* Styles the cart icon */
.linkToCart {
    height: 100%;
    position: relative;
    padding: 20px;
}

.cartWrapper {
    position: absolute;
    top: 0;
    left: 0;
}

.cartIcon:hover,
.cartIcon:focus {
    filter: var(--brown-svg);
}

.badgeNumber {
    min-width: 20px;
    min-height: 20px;
    background: var(--badge-color);
    border-radius: 30%;
    
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 20px;

    position: absolute;
    top: -12px;
    left: 22px;
}

@media (min-width: 420px) {
    .brandName {
        margin-left: 10px;
    }

    .shopAllLink {
        max-width: 60px;
    }
}

@media (min-width: 500px) {
    nav {
        padding: 10px 40px;
    }

    .navLinks {
        padding: 0 10px;
        margin: 0;
    }
}