.errorMessage,
.defaultShop {
    height: calc(100vh - 100px);
    padding: var(--large);
    font-size: var(--large-font);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}