.errorMessage,
.defaultShop {
    height: calc(100vh - 100px);
    padding: var(--padding-medium);
    font-size: 1.2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}