/* Styles main content */
.productsContent {
    max-width: 100%;
    padding: var(--margin);
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    gap: var(--medium);
}

.allProductsWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    gap: var(--large);
    padding: var(--medium);
}

.heading {
    font-size: calc(var(--normal-font) * 2);
    padding: var(--medium);
}

/* Styles links to categories */
.linksWrapper {
    padding: 0 var(--medium);
}

.link {
    color: var(--brown);
    font-size: var(--medium-font);
}

/* Styles for smaller devices */
@media (min-width: 420px) {
    .linksWrapper {
        padding: 0 calc(var(--medium) + var(--small));
    }
}

@media (min-width: 500px) {
    .link {
        font-size: var(--normal-font);
    }
}

/* Styles for tablets */
@media (min-width: 768px) {
    .productsContent {
        padding: calc(var(--margin) * 2);
        margin-top: 50px;
    }
}

/* Styles for large viewports */
@media (min-width: 1440px) {
    .productsContent {
        padding: calc(var(--margin) * 2) calc(var(--margin) * 3);
        margin-top: 50px;
    }
}

/* Styles for dark mode */
@media (prefers-color-scheme: dark) {
    * {
        color: var(--cream);
    }

    .link {
        color: var(--light-beige);
    }

    .link:hover,
    .link:focus {
        color: var(--beige);
        text-decoration: underline;
    }
}